* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: Copperplate, Papyrus, fantasy;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0ead6 url("./assets/img/bg3.jpg") center/cover no-repeat;
  margin: 30px;
  min-height: 100vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container h1 {
  margin-top: 30px;
  letter-spacing: 5px;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.cFlex1 {
  width: 80%;
}
.cFlex1 label {
  width: 80%;
  margin-bottom: 4px;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.cFlex2 {
  width: 20%;
}
.cFlex2 label {
  width: 20%;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.event-and-date {
  display: flex;
  width: 80%;
  margin-top: 80px;
}
.event-and-date input[type="text"] {
  background-color: #c4b7a6;
  width: 95.5%;
  border: none;
  border-left: 4px solid #c4b7a6;
  outline: none;
  transition: border 0.6s;
  margin-right: 4px;

  padding: 14px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
}
.event-and-date input[type="text"]:focus {
  border-left: 4px solid #9b1b30;
}
.event-and-date input[type="text"]:hover {
  border-left: 4px solid #9b1b30;
}
.event-and-date input[type="date"] {
  background-color: #f1f1f1;
  width: 87%;
  padding: 13px;
  border: none;
  outline: none;
  border-radius: 3px;
}
.event-and-date input[type="date"]:hover {
  cursor: text;
}

.btn-event {
  background-color: #9b1b30;
  color: #fff;
  opacity: 0.95;
  padding: 15px;
  width: 80%;
  margin: 25px 0;
  font-weight: bold;
  letter-spacing: 3px;
}
.btn-event:hover {
  cursor: pointer;
  opacity: 1;
}

.show-events {
  background-color: #c4b7a6;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.show-events ul {
  list-style-type: none;
}
.show-events ul li {
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 5px;
  padding: 4px;
  transition: background-color 0.35s;
}
.show-events ul li:hover {
  background-color: #77212e;
  color: #fff;
}
.show-events h2 {
  padding: 10px;
  letter-spacing: 4px;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.show-events span {
  padding: 10px;
  font-size: 18px;
}
.show-events button {
  padding: 7px;
  margin-right: 10px;
  margin-top: 2px;
  opacity: 0.75;
  transition: opacity 0.7s;
}
.show-events button:hover {
  cursor: pointer;
  opacity: 1;
}
.lm {
  position: relative;
  top: -5px;
  font-size: 20px;
}

.name-date-components {
  display: flex;
  justify-content: space-between;
}

/* Pseudo classes */
::selection {
  background-color: #9f9c99;
  color: #9b1b30;
}
::placeholder {
  margin-left: 10px;
  color: #fff;
  opacity: 0.8;
}
::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
